<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>
  <div class="card-section">
    <div class="row column">
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>
    <div class="row column">
      <%= form.translated :editor, :summary, toolbar: :full, lines: 10, label: t("model.components.summary", scope: "decidim.petitions.admin") %>
    </div>
    <div class="row column">
      <%= form.upload :image %>
    </div>
    <div class="row column">
      <%= form.translated :editor, :description, toolbar: :full, lines: 10, label: t("model.components.description", scope: "decidim.petitions.admin") %>
    </div>
    <div class="row column">
      <%= form.text_area :json_schema, value: JSON.pretty_generate(@form.json_schema), toolbar: nil, rows: 30, label: t("model.components.json_schema", scope: "decidim.petitions.admin") %>
    </div>
    <div class="row column">
      <%= form.text_area :json_attribute_info, value: JSON.pretty_generate(@form.json_attribute_info), toolbar: nil, rows: 30, label: t("model.components.json_attribute_info", scope: "decidim.petitions.admin") %>
    </div>
    <div class="row column">
      <%= form.text_area :json_attribute_info_optional, value: JSON.pretty_generate(@form.json_attribute_info_optional), toolbar: nil, rows: 30, label: t("model.components.json_attribute_info_optional", scope: "decidim.petitions.admin") %>
    </div>
  </div>
</div>
