<div class="collection-sort-controls row small-up-1 medium-up-3 card-grid">
  <div class="column">
    <%# <%= order_selector available_orders, i18n_scope: "decidim.petitions.petitions.orders" %1> %>
  </div>

  <div class="column">
    <%# <%= render partial: "decidim/shared/results_per_page" %1> %>
  </div>
</div>

<div class="row small-up-1 medium-up-2 card-grid">
  <% @petitions.each do |petition| %>
    <%= render partial: "petition", locals: { petition: petition }%>
  <% end %>
  <%# <%= render @petitions %1> %>
</div>
<%# <%= decidim_paginate @petitions, random_seed: random_seed %1> %>
