<% provide(:title, translated_attribute(present(petition).title)) %>

<% add_decidim_meta_tags({
  title: translated_attribute(present(petition).title),
  description: translated_attribute(present(petition).description),
  url: petition_url(petition.id)
}) %>

<% if translated_attribute(current_participatory_space.announcement).present? %>
  <%= render partial: "decidim/shared/announcement", locals: { announcement: current_participatory_space.announcement } %>
<% end %>

<div class="row column view-header">
  <h2 class="heading2"><%= translated_attribute present(petition).title %></h2>
</div>

<div class="row">
  <div class="columns section view-side mediumlarge-4 mediumlarge-push-8
              large-3 large-push-9">
    <div class="card">
      <div class="card__content">
        <div class="card__qr">
          <img src="<%= petition_qrcode(petition) %>" />
        </div>
        <%= render partial: "votes_count" %>
        <div class="show-for-touch card__actions">
          <%= decodewallet_button(petition) %>
          <%= expo_button(petition) %>
        </div>
        <div class="hide-for-touch card__actions callout secondary">
          <%= t ".incompatible_html", url: "#" %>
        </div>
      </div>
    </div>
  </div>
  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="section">
      <h4 class="section-heading"><%= t('summary', scope: 'decidim.petitions.petitions.petition') %></h4>
      <%= decidim_sanitize translated_attribute petition.summary %>
    </div>
    <div class="section">
      <h4 class="section-heading"><%= t('description', scope: 'decidim.petitions.petitions.petition') %></h4>
      <%= decidim_sanitize translated_attribute petition.description %>
    </div>
  </div>
</div>
